/* Start Reset */

*{
    box-sizing: border-box; 
}

h1,h2,h3,p,ul, ol{
    margin: 0;
    padding: 0;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height:auto;
}

/* End Reset */

body{
    /* width:100%;
    max-width: 1200px;
    max-height:750px;
    margin:auto; */
    background-color: rgb(56, 88, 50); 
}

h1{
    font-family:"Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    text-align: center;
    color: rgb(236,221,205);
    position:relative;
    top: 3%;
    left: -18%;
}

.hidden {
    display: none;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    min-width: 900px;
    height: 100vh;
    max-height: 750px;
    margin: auto;
}

#section-1 {
    background-color: rgb(56, 88, 50); 
    visibility: visible;
}

#section-2 {
    background-color: rgb(56, 88, 50);
}

#section-2 form{
    margin-top: 50px;
}

.table{
    position:relative;
    min-width: 500px;
    top:250px;
    left: -150px; 
    z-index: 2;
}

.static-painting{
    position:relative;
    top: -150px;
    left: -100px; 
    min-width: 400px;
}

.moving-painting{
    position:relative;
    top:-275px;
    left: 32px; 
    min-width: 100px;
}

.moving-painting:hover{
    animation: wiggle 3s ease-in;
}

@keyframes wiggle{
    0% {
        transform-origin: 0 0;
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(15deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    40%{
        transform: rotate(10deg);
    }
}

.heart1{
    position: relative;
    min-width: 30px;
    top: -510px;
    left: 220px;
    animation: heart 2s infinite ease;
}

.heart2{
    position: relative;
    min-width: 30px;
    top: -575px;
    left: -90px;
    animation: heart 2s infinite ease;
}

@keyframes heart{
    0%, 100% {
        transform: scale(0.8);
    }
    50%{
        transform:scale(1.0);
    }
}

article {
    box-sizing: border-box;
    width: 400px;
    padding: 40px;
}


form{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding:30px;
    border-radius: 20px;
    margin-top:25px;
    background-color: rgb(255, 241, 251);
}

form label{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    color: rgb(69, 61, 53);
}

form input{
    padding: 7px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 7px;
    border: 1.5px solid transparent;
  }

form input:hover{
    border: 1.5px solid rgb(147, 29, 70,0.6); 
}

form select{
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgb(147, 29, 70); 
    margin-bottom: 7px;
}


input[type="text"]:focus, input[type="number"]:focus{
    border: 1px solid #D6D9DC;
    outline: solid rgb(147, 29, 70);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#instructions-text{
    font-size: 1.4em;
    padding-bottom: 8px;
    color: rgb(69, 61, 53);
}

input[type="submit"], input[type="submit"]:focus{
    font-family: "Instrument Serif", serif;
    font-size: 1.1em;
    width:50%;
    margin:auto;
    margin-top: 7px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(69, 61, 53);
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(250, 204, 232);
    outline: 0.5px solid rgb(147, 29, 70);
}

p{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(69, 61, 53);
}

#section-3 {
    background-color: rgb(171, 136, 136);
}

#result-title{
    font-size: 4em;
    position: relative;
    z-index: 2;

}

#wine{
    position: relative;
    min-width: 750px;
    top:-360px;
    left: -230px;
}

#plate{
    position: relative;
    min-width: 400px;
    top:-1200px;
    left: 600px;
}

#output{
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: rgb(255, 241, 251);
    width:500px;
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
    position:relative;
    z-index: 2;
}

#restart-btn {
    font-family: "Instrument Serif", serif;
    font-size: 1.1em;
    width:50%;
    margin:auto;
    margin-top: 7px;
    padding: 7px;
    position:relative;
    top: -20px;
    left: 80px;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(69, 61, 53);
    border-radius: 10px;
    cursor: pointer;
}

#restart-btn:hover{
    background-color: rgb(249, 222, 239);
    outline: 0.5px solid rgb(147, 29, 70);
}

#output p{
    padding-bottom: 10px;
}

