/* Start Reset */

*{
    box-sizing: border-box; 
}

h1,h2,h3,p,ul, ol{
    margin: 0;
    padding: 0;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height:auto;
}

/* End Reset */

body{
    width:90%;
    max-width: 1200px;
    max-height:750px;
    margin:auto;
}

h1{
    font-family:"Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    text-align: center;
    color: rgb(236,221,205);
    position:relative;
    top: 3%;
    left: -18%;
}

.heart1{
    position:relative;
    top: -55%;
    left: 70%;

    animation: heart 2s infinite ease;
}


.heart2{
    position:relative;
    top: -55%;
    left: -52%;
    animation: heart 2s infinite ease;
}

@keyframes heart {
    0%, 100% {
        transform: scale(0.8);
    }
    50%{
        transform:scale(1.1);
    }
}


section {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#section-1 {
    background-color: rgb(56, 88, 50); 
    display: hidden;
}

.dining-table{
    position:relative;
    /* top: 42.7%; */
    top:36%;
    left: -75%;
}

.static-painting{
    position:relative; 
    top: -48%;
    left: -30%;
}

.moving-painting{
    position:relative; 
    top: -69%;
    left: 12%;
}

.moving-painting:hover{
    animation: wiggle 4s ease-in; 
}

@keyframes wiggle {
    0% {
        transform-origin: 0 0;
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(15deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    40%{
        transform: rotate(10deg);
    }
}

#section-2 {
    background-color: rgb(56, 88, 50);
    visibility: hidden;
}
#section-3 {
    background-color: rgb(171, 136, 136);
    visibility: visible;
}


article {
    box-sizing: border-box;
    width: 400px;
    padding: 40px;
}

form{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding:30px;
    border-radius: 20px;
    background-color: rgb(255, 241, 251);
    margin-top:20px;
}

form label{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    color: rgb(69, 61, 53);
}

form input{
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgb(114,111,160,0.6); 
    margin-bottom: 7px;
}

form input:hover{
    border: 1.5px solid rgb(114,111,160); 
}

form select{
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgb(114,111,160,0.6); 
    margin-bottom: 7px;
}


input[type="text"]:focus, input[type="number"]:focus{
    border: 1px solid #D6D9DC;
    outline: solid rgb(114,111,160);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#instructions-text{
    font-size: 1.4em;
    padding-bottom: 8px;
    color: rgb(69, 61, 53);
}

form button, article button{
    width:50%;
    margin:auto;
    margin-top: 7px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(69, 61, 53);
    border-radius: 10px;
    cursor: pointer;
}

p{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(69, 61, 53);
}

#result-title{
    font-size: 4em;
    position: relative;
    z-index: 2;

}

#plate{
    position:relative;
    top: -180%;
    left: 190%;
    z-index: 1;
}

#wine-spill{
    position:relative;
    top: -50.5%;
    left: -40%;
    z-index: 1;
}

#output{
    font-size: 1.2em;
    line-height: 1.4em;
    background-color: rgb(255, 241, 251);
    width:500px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    position:relative;
    z-index: 2;
}

#output p{
    padding-bottom: 10px;
}

#footer{
    font-family: "Inconsolata", serif;
    font-weight:300;
    font-style: normal;
}