/* Start Reset */

*{
    box-sizing: border-box; 
}

h1,h2,h3,p,ul, ol{
    margin: 0;
    padding: 0;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height:auto;
}

/* End Reset */

body{
    background-color: rgb(219,219,219);
    position: relative;
    margin:auto;
}

h1{
    color: rgb(129,117,72);
    font-family: "Cactus Classical Serif", serif;
    font-weight: 400;
    font-size: 16px;
    position: absolute; 
    top:90px;
    left: 50px;
}

img{
    cursor:pointer; 
}

#mom-on-beach{
    position: absolute; 
    top:250px;
    left:25px;
    z-index: 1;
    filter:grayscale(80%)blur(0.5px);
}

#dad-on-beach{
    position: absolute; 
    top:231px;
    left:195px;
    z-index: 2;
    filter:grayscale(80%)blur(0.5px);
}

#rover-on-beach{
    position: absolute; 
    top:262px;
    left:375px;
    z-index: 2;
    filter:grayscale(80%)blur(0.7px);
}

#boy-on-beach{
    position: absolute; 
    top:225px;
    left:475px;
    z-index: 3;
    filter:grayscale(80%)blur(0.5px);
}

#sunset-beach{
    position: absolute; 
    top:215px;
    left:695px;
    z-index: 4;
    transform: rotate(3deg);
    filter:grayscale(90%)blur(0.5px);
}

#shell-picking{
    position: absolute; 
    top:117px;
    left:780px;
    z-index: 0;
    transform: rotate(2deg);
    filter:grayscale(90%)blur(0.5px);
}

#beach-corner{
    position: absolute; 
    top:224px;
    left:1020px;
    z-index: 0;
    transform: rotate(2deg);
    filter:grayscale(90%)blur(0.5px);
}

.show{
    display:block;
}

.hidden{
    display:none;
}

#overlay{
    position:absolute;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 25px 30px 80px; 
    border-radius: 5px;
    top: 70px; 
    left: 300px;
}

h2{
    color: rgb(129,117,72);
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: 40px;
    text-align: center;
}

.close{
    position:absolute;
    top:450px; 
    left:500px;
    color: rgb(129,117,72);
    font-family: "Indie Flower", serif;
    font-size: 20px;
    margin-bottom: 10px; 
    padding: 0px 5px;
    border: 1px solid rgb(129,117,72);
    border-radius: 50px;
}



