/* Start Reset */

*{
    box-sizing: border-box; 
}

h1,h2,h3,p,ul, ol{
    margin: 0;
    padding: 0;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height:auto;
}

/* End Reset */

body{
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1,h2{
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    color: rgb(255,241,205);
    text-align: center;
}

h1{
    font-size: 110px;
    position:absolute; 
    top: 220px;
    left: 420px;
}

h3, p{
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    color: rgb(46,51,21);
}

h4{
    font-family: "Dokdo", system-ui;
}

#start{
    display: block;
}

#instructions{
    display: none;
}

#game{
    display: none;
}

button{
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-size: 28px;
    border-radius: 50px;
    border: 2px solid rgb(94,79,49); 
    color: rgb(94,79,49);
    background-color: antiquewhite;
}

#start-btn{
    font-size:28px;
    padding: 2px 40px;
    border-radius: 20px;
    border: 1px solid rgb(94,79,49); 
    position:absolute; 
    top: 470px;
    left: 550px;
}

h2{
    font-size: 88px;
    position:absolute; 
    top: 50px;
    left: 445px;
}

h3{
    font-size: 30px;
    margin-bottom: 10px;
}

#rules{
    background-color: rgb(255,248,231,0.9);
    width: 70%;
    padding: 20px 40px;
    border-radius: 20px; 
    border: 5px solid rgb(122,90,25);
    position:absolute; 
    top: 260px;
    left: 180px;  
    text-align: center;
}

.rule-text{
    margin-bottom: 20px;
    font-size: 19px;
}

#close-btn{
    padding: 0px 9px;
    position: absolute; 
    top: 20px;
    left: 780px;  
}

#worm{
    position: absolute;
    top: -20px;
    left: -20px; 
}

#ladybug-4{
    position: absolute; 
    top: 320px;
    left: 780px;  
}


.side-btn{
    background-color: rgb(195,211,148);
    border:none; 
}

#restart-btn{
    position: absolute;
    top: 60px;
    left: 980px;
    padding: 0px 40px;
}

#tutorial-btn{
    position: absolute;
    top: 110px;
    left: 980px;
    padding: 0px 23px;
}




