/* Start Reset */

*{
    box-sizing: border-box; 
}

h1,h2,h3,p,ul, ol{
    margin: 0;
    padding: 0;
}

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height:auto;
}

/* End Reset */

h1, h2, h3{
    font-family: "Kanit", serif;
    font-weight: 600;
}

h1{
    font-size: 5em;
    padding-top: 15px;
}

h1,h2{
    color: rgb(69, 63, 57);
}

h3{
    color: rgb(106, 97, 89);
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(108, 99, 91);
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5px;
}

article p{
    font-family: "Forum", serif;
    font-weight: 400;
    color: rgb(94, 83, 71);
    line-height: 1.4em;
    padding-top: 10px;
}

a{
    text-decoration:underline;
    color: rgb(32, 24, 7);
    font-weight:bolder;
}

a:hover{
    background-color: rgb(252, 225, 190,0.5);
}

h3{
    padding-bottom: 10px;
    font-size: 1.5em;
}

body{
    justify-content: center;
    width: 50%;
    max-width: 600px; 
    margin: auto;
    background: rgb(205,199,158);
    background: linear-gradient(0deg, rgba(205,199,158,1) 6%, rgba(158,175,181,1) 75%);
}

article{
    background-color: rgb(244, 250, 250);
    border: 2px solid rgb(93, 86, 76);
    border-radius: 10px;
    margin: 5%;
    padding: 5%;
}

footer{
    font-family: "Forum", serif;
    font-weight: 400;
    display: flex;
    padding-bottom: 30px;
    justify-content: space-evenly;
    text-decoration: none;
}

footer a, footer address{
    text-decoration: none;
}
